<h1>Zoodle poll for:</h1>
<h2><%= @poll.label %></h2>
<p>Your response is requested.  Please visit the link below and pick the time(s) you are available to meet.</p>
<p>Visit this URL: <%= poll_url(@poll) %></p>
<p>You will receive an email if/when the poll creator chooses a final time.</p>