<h1>Welcome to Zoodle!</h1>
<p class="lead">A simple website for finding meeting times that work for everyone!</p>

<% if user_signed_in? %>
	<h2>Your polls:</h2>
	<table class="table table-condensed table-striped table-bordered">
		<tr>
			<th>Poll Name</th>
			<th></th>
		</tr>
		<% current_user.polls.each do |poll| %>
			<tr>
				<td><%= poll.label %></td>
				<td><%= link_to "View Poll", poll_path(poll) %></td>
			</tr>
		<% end %>
	</table>
	<%= link_to "New Poll", new_poll_path, class: 'btn btn-lg btn-success' %>
<% else %>
	Sign in to create a poll, and view polls you've already created.
<% end %>
