<table>
	<tr>
		<th>Poll Name</th>
		<th>Actions</th>
	</tr>
	<% @polls.each do |poll| %>
		<tr>
			<td><%= poll.label %></td>
			<td><%= link_to "View Poll", poll_path(poll) %></td>
		</tr>
	<% end %>
</table>
