<h1>Welcome to Zoodle!</h1>
<p class="lead">A simple website for finding meeting times that work for everyone!</p>
<table>
	<tr>
		<th>Poll Name</th>
		<th>Actions</th>
	</tr>
	<% @polls.each do |poll| %>
		<tr>
			<td><%= poll.label %></td>
			<td><%= link_to "View Poll", poll_path(poll) %></td>
		</tr>
	<% end %>
</table>
<% if user_signed_in? %>
	<%= link_to "New Poll", new_poll_path %>
<% else %>
	<%= link_to "Sign in", new_user_session_path %>
<% end %>
